<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="../styles/login.css">
  <!-- Toastify CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<!-- Toastify JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>
<body>

  <div class="login-container">
    <h2>Iniciar Sesión</h2>

    <form action="#" method="POST">
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Ingresar</button>
    </form>

    <p class="register-link">¿No tenés una cuenta? <a href="register.html">Registrate</a></p>
  </div>
<script src="../scripts/login.js"></script>
</body>
</html>
